HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Environment files
./src/main/resources/application.properties

.env
.docker-compose.prod.yml
.docker-compose.yml

uploads/
logs/
.idea/
.github/

report-dashboard/

.DS_Store
jmeter.log
GetEventTest.jmx
result.csv
logs/
