spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: false

  mail:
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}

app:
  jwt:
    secret: ${JWT_SECRET}
    expirationMs: 900000
    refreshExpirationMs: 604800000
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
  frontend:
    url: ${APP_FRONTEND_URL}

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

gemini:
  api:
    key: ${GEMINI_API_KEY}

management:
  endpoint:
    health:
      show-details: always
