spring:
  application:
    name: API_BoPhieu
  profiles:
    active: dev # Mặc định chạy profile dev (Local)

  # Cấu hình chung cho JPA/Hibernate
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  # Cấu hình chung cho Servlet/Upload
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

  # Cấu hình chung cho Jackson
  jackson:
    property-naming-strategy: SNAKE_CASE
    serialization:
      write-dates-as-timestamps: false

  # Cấu hình Mail Server (Gmail giống nhau, chỉ khác user/pass)
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

api:
  prefix: /api/v1

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
